.header {
  height: 70px;
  width: 926px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
